name: Verify cached license metadata

on:
  # run on pushes to main
  push:
    branches:
      - main
  # run on all pull request events
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  # run on demand
  workflow_dispatch:

jobs:
  licensed:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{github.ref}} # checkout branch not SHA
        fetch-depth: 0

    - run: npm install --production --ignore-scripts

    - name: Run setup-licensed
      uses: ./
      with:
        version: '3.x'
        github_token: ${{ secrets.GITHUB_TOKEN }}

    - uses: jonabc/licensed-ci@v1
      with:
        workflow: branch
        github_token: ${{ secrets.GITHUB_TOKEN }}
        cleanup_on_success: 'true'
