name: Test running setup-licensed
permissions:
  contents: read

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

  # run on demand
  workflow_dispatch:

jobs:
  gem:
    runs-on: ubuntu-latest

    steps:
      # checkout the repo
      - uses: actions/checkout@v4

      # install ruby
      - uses: ruby/setup-ruby@4a9ddd6f338a97768b8006bf671dfbad383215f4
        with:
          bundler-cache: 'true'
          ruby-version: "3.0"

      # install node
      - uses: actions/setup-node@v4
        with:
          node-version: "18.x"

      # run the action
      - name: Run setup-licensed
        uses: ./
        with:
          version: '4.x'

  exe:
    runs-on: ubuntu-latest

    steps:
      # checkout the repo
      - uses: actions/checkout@v4

      # do not install ruby

      # install node
      - uses: actions/setup-node@v4
        with:
          node-version: "18.x"

      # run the action
      - name: Run setup-licensed
        uses: ./
        with:
          version: '3.x'
